* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.app {
    overflow: hidden;
}

#header {
    z-index: 1;
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.clear {
    clear: both;
}


/*
    - Từ ngoài vao trong 
    - Từ trên xuống dưới
    - Tổng quan đến chi tiết*/


/*
    - Vị trí 
    - Kích thước
    - Màu sắc
    _ Kiểu dáng
    */

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt8 {
    margin-top: 8px;
}

.full-right {
    float: right;
}

.mt-16 {
    margin-top: 16px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-30 {
    margin-top: 30px;
}

.btn {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 11px 16px;
    display: inline-block;
    border: none;
    -webkit-appearance: none;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#app {
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: white;
    text-transform: uppercase;
    line-height: 46px;
    /* box-shadow: 10px 10px 10px black inset; */
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    display: block;
    font-size: 15px;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a,
#nav .subnav a:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

.goiyicon {
    font-size: 14px;
}

#header #search,
.menu-search {
    float: right;
}

.menu-search {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .searchicon,
.menu-search {
    color: #fff;
    line-height: 46px;
    padding: 0 23px;
}

#header #search:hover .searchicon {
    background-color: red;
    cursor: pointer;
}

.menu-search:hover {
    color: #000;
    background-color: #ccc;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../assets/img/anh1.jpg') top center / cover no-repeat;
}

#slider .text-slider {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
    text-shadow: 0 0 1px #000;
}

#slider .text-tren {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin: 10px 0;
}

#slider .text-duoi {
    font-size: 15px;
    margin-bottom: 15px;
}

.content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    padding-left: 16px;
    padding-right: 16px;
}

#content .texttieudechung {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .textchtchung {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .textgt {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .vung-tv {
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

.text-center {
    text-align: center !important;
}

#content .ten-tv {
    font-size: 15px;
}

#content .anh-tv {
    margin-top: 15px;
    width: 153px;
    border-radius: 4px;
}

.tour-section {
    background-color: #000;
}

.ve-ban {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ve-ban li {
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    padding: 11px 16px;
}

.sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 2px 7px;
    margin-left: 16px;
}

.sold-3 {
    float: right;
    width: 25px;
    height: 22px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    margin-top: -3px;
    margin-right: 15px;
}

.place-all {
    margin-top: 16px;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-text {
    color: #000;
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    line-height: 1.4;
}

.place-chumo {
    margin-top: 15px;
    color: #757575;
    line-height: 1.4;
}

.place-p {
    margin: 15px 0;
    line-height: 1.4;
}

.modal {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    max-width: calc(100%-32px);
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    width: 900px;
    animation: modalfadein ease 0.4s;
    margin: 0 16px;
}

header {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header-bag {
    color: #fff;
    font-size: 30px;
    word-spacing: 8px;
    letter-spacing: 5px;
}

.header-close {
    padding: 15px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0.8;
}

.header-close:hover {
    background-color: #ccc;
    color: #000;
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 14px;
    margin-bottom: 12px;
}

.modal-input {
    margin-bottom: 24px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 11px;
    font-size: 15px;
    margin-bottom: 24px;
}

.modal-button {
    width: 100%;
    border: none;
    background-color: #009688;
    color: #fff;
    text-transform: uppercase;
    padding: 17px;
    cursor: pointer;
}

.modal-button:hover {
    color: #000;
    background-color: #ccc;
}

.footer-help {
    text-align: right;
    padding: 16px;
}

.footer-help a {
    color: #2196F3;
}

@keyframes modalfadein {
    from {
        transform: translateY(-190px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content-contact {
    margin-top: 47px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info p i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover {
    opacity: 1;
}

.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 11px;
    width: 100%;
    border: 1px solid #ccc;
}

.content-map img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    line-height: 1.5;
}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
}

#footer .text-footer a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .text-footer {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    font-size: 15px;
}

#footer .text-footer a {
    color: rgba(0, 0, 0, 0.6);
}